@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@charset "UTF-8";

/* 
Paleta de cores
Verde: #49a09d
Lilás: #5f2c82

*/

* {
    font-family: 'lora', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    

    background-color: aliceblue;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);
    overflow: hidden; 

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background-image: url(../imagens/pexels-el-evangelista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
    border-top-left-radius: 0px; /* Aplicar o mesmo raio nos cantos superiores */
    border-top-right-radius: 0px; /* Aplicar o mesmo raio nos cantos superiores */
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    position: relative;
}
div.campo > label {
    display: none;
}
div.campo > span {
    color: white;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    width: 40px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px 0 0 8px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
div.campo > input {
    font-size: 1em;
    width: calc(100% - 40px);
    height: 100%;
    
    border: 0px;
    border-radius: 8px 8px 8px 8px;
    padding: 4px;
    position: absolute;
    left: 40px;
    top: 0;
    background-color: #81e4e0;
    transform: translateY(-0px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none;

}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    color: white;
    background-color: #49a09d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

form > input[type=submit]:hover {
    background-color: #602c82d7;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: #ffffff98;
    color: #49a09d;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;
}

form > a.botao:hover {
    background-color: #49a09d1f;
}

form > a.botao > i {
    font-size: 0.8em;
}